{{ define "main" }}

{{ partial "page-title.html" . }}

<!--  &lt;!&ndash; portfolio &ndash;&gt;-->
<!--  <section class="section">-->
<!--    <div class="container">-->
<!--      <div class="row mb-5">-->
<!--        <div class="col-12">-->
<!--          <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">-->
<!--            <label class="btn btn-sm btn-primary active">-->
<!--              <input type="radio" name="shuffle-filter" value="all" checked="checked" />All-->
<!--            </label>-->
<!--            {{ range .Site.Data.portfolio.list }}-->
<!--            <label class="btn btn-sm btn-primary">-->
<!--              <input type="radio" name="shuffle-filter" value="{{.type}}" />{{ .title }}-->
<!--            </label>-->
<!--            {{ end }}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row shuffle-wrapper">-->
<!--        {{ range .Site.Data.portfolio.item }}-->
<!--        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .projectType }}{{if eq $index 0}} {{else}},{{end}}&quot;{{.type}}&quot;{{ end }}]">-->
<!--          <div class="position-relative rounded hover-wrapper">-->
<!--            <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">-->
<!--            <div class="hover-overlay">-->
<!--              <div class="hover-content">-->
<!--                <a class="btn btn-light btn-sm" href="{{ .projectURL }}">view project</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        {{ end }}-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash; /portfolio &ndash;&gt;-->



<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {{ range .Site.Data.portfolio.list }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{.type}}" />{{ .title }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="{{.Params.categories | jsonify}}">

        <article class="card shadow">
          <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
            </h4>
            <p class="cars-text">{{.Summary}}</p>
            <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->


<!--&lt;!&ndash; blog &ndash;&gt;-->
<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      {{ range .Data.Pages }}-->
<!--      <div class="col-lg-4 col-sm-6 mb-4">-->
<!--        <article class="card shadow">-->
<!--          <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">-->
<!--          <div class="card-body">-->
<!--            <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>-->
<!--            </h4>-->
<!--            <p class="cars-text">{{.Summary}}</p>-->
<!--            <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>-->
<!--          </div>-->
<!--        </article>-->
<!--      </div>-->
<!--      {{ end }}-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; /blog &ndash;&gt;-->




<!--  &lt;!&ndash; clients &ndash;&gt;-->
<!--  <section class="section bg-light">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-12 text-center">-->
<!--          <h2 class="section-title">My Clients</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      {{ partial "client-slider.html" . }}-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash; /clients &ndash;&gt;-->



{{ end }}